# Test Report

## Main page

### **Manual Tests**

## Rules page

### **Manual Tests**

## Tic-Tac-Toe

### **Junit Tests**

* Test testGameStateIsOverTest():
  * Tests whether the method gives the right boolean if the game is over
  * Successful test
* Test testGameIsWinningStateTest():
  * Tests whether the method gives the right boolean if the game is in winning state
  * Successful test
* Test moveIsAppliableTest():
  * Tests whether a move is appliable to a current gamestate
  * Successful test 
* Test applyMoveTest():
  * Tests whether the move after being appliad, gives back the right gamestate
  * Successful test

### **Manual Tests**
* Test 1:
  * Tests whether every cell reacts to click, display the right character
  * Test successful
* Test 2: 
  * Tests whether back button reacts to click and goes back to rules page
  * Test successful
* Test 3:
  * Tests whether AIv1 button reacts to click and sets the game against AI
  * Test successful
* Test 4: 
  * Tests whether 1v1 button reacts to click and sets new game
  * Test successful